<a href="https://colab.research.google.com/github/Naman-pixel/naman1530/blob/master/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from keras.models import Sequential 
from keras.layers import Dense, LSTM
import numpy as np
import pandas as pd
import csv
import matplotlib as plt
import math
plt.style.use('fivethirtyeight')

In [6]:
pwd

'/content'

In [7]:
dataset = pd.read_csv(r'/content/sample_data/AAPL.csv')

In [8]:
dataset.head()

         Date       Open       High        Low      Close  Adj Close     Volume
0  03-01-2012  14.621429  14.732143  14.607143  14.686786  12.610315  302220800
1  04-01-2012  14.642857  14.810000  14.617143  14.765714  12.678085  260022000
2  05-01-2012  14.819643  14.948214  14.738214  14.929643  12.818838  271269600
3  06-01-2012  14.991786  15.098214  14.972143  15.085714  12.952841  318292800
4  09-01-2012  15.196429  15.276786  15.048214  15.061786  12.932299  394024400

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2003 entries, 0 to 2002
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2003 non-null   object
 1   Open       2003 non-null   float64
 2   High       2003 non-null   float64
 3   Low        2003 non-null   float64
 4   Close      2003 non-null   float64
 5   Adj Close  2003 non-null   float64
 6   Volume     2003 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 109.7+ KB

In [10]:
dataset.shape

(2003, 7)

In [11]:
df=dataset

In [12]:
df.shape

(2003, 7)

In [13]:
data = df.filter(['Close'])
dataset= data.values
training_data_len= math.ceil(len(dataset) * .8)

training_data_len

1603

In [14]:
scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(dataset)

print(scaled_data)

array([[0.0131651 ],
       [0.01457063],
       [0.01748986],
       ...,
       [0.97658262],
       [0.99755133],
       [1.        ]])

In [15]:
train_data = scaled_data[0:training_data_len , :]
x_train = []
y_train = []

for i in range(60, len(train_data)):
  x_train.append(train_data[i-60:i, 0])
  y_train.append(train_data[i, 0])
  if i<= 60:
    print(x_train)
    print(y_train)
    print()

[array([0.0131651 , 0.01457063, 0.01748986, 0.02026915, 0.01984304,
       0.02080338, 0.02036454, 0.0196268 , 0.01862192, 0.02173194,
       0.02453667, 0.02367173, 0.01893356, 0.02345549, 0.01900353,
       0.03569839, 0.03440732, 0.03609271, 0.03973694, 0.04194383,
       0.04175942, 0.04107891, 0.04397904, 0.04670743, 0.0497984 ,
       0.05479095, 0.0652785 , 0.0654375 , 0.07127595, 0.07563886,
       0.0681405 , 0.07102789, 0.07097067, 0.07906688, 0.07791571,
       0.08004628, 0.08387497, 0.08600557, 0.09214292, 0.09661394,
       0.09790501, 0.0983566 , 0.09071196, 0.08886754, 0.08914104,
       0.09632779, 0.09835024, 0.10269409, 0.11293359, 0.12659476,
       0.12403805, 0.12404441, 0.13392141, 0.13701237, 0.1348118 ,
       0.13280208, 0.13070964, 0.13766104, 0.14243104, 0.14442806])]
[0.139492723007876]

In [16]:
#convert the x_train and y_train to numpy arrays

x_train, y_train = np.array(x_train), np.array(y_train)

In [17]:
#reshape the data
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))
x_train.shape

(1543, 60, 1)

In [18]:
#build the LSTm model 
model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape= (x_train.shape[1], 1)))
model.add(LSTM(50, return_sequences=False))
model.add(Dense(25))
model.add(Dense(1))

In [19]:
#compile the model 
model.compile(optimizer='adam', loss='mean_squared_error')

In [20]:
#train the model
model.fit(x_train, y_train, batch_size=1, epochs=1)

1543/1543 [==============================] - 38s 23ms/step - loss: 0.0013

In [21]:
#create the testing dataset 
#create a new array containing scaled values from index 1543 to 2003 
test_data = scaled_data[training_data_len - 60: , :]
#create the datasets x_test and y_test 
x_test=[]
y_test=dataset[training_data_len:, :]
for i in range(60, len(test_data)):
  x_test.append(test_data[i-60:i, 0])

In [22]:
#convert the data to a numpy array
x_test = np.array(x_test)

In [23]:
#reshape the data
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1))

In [24]:
#get the model predicted price values
prediction = model.predict(x_test)
prediction = scaler.inverse_transform(prediction)

In [25]:
#get the root mean squared error(RMSE)
rmse = np.sqrt( np.mean( prediction - y_test )**2 )
rmse

0.7509636696472165

In [26]:
#plot the data
train = data[:training_data_len]
valid = data[training_data_len:]
valid['predictions '] = prediction 
#visualize the data
plt.figure(figsize=(16,8))
plt.title('Model')
plt.xlabel('Date', fontsize=18)
plt.ylabel('Price', fontsize=18)
plt.plot(train['Close'])
plt.plot(valid[['Close', 'Predictions']])
plt.legend(['Train', 'Val', 'Predictions'], loc='lower right')
plt.show()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

TypeError: ignored